body {
    width: 1000px;
}

h1 {
    width: 100%;
    text-align: center;
}

.menu {
    display: flex;
}

span {
    width: 10%;
}

h4 {
    margin: 5px 10px 5px 5px;
}

#feed_type {
    width: 100px;
}


/* drop down select section */

.menu_drop_down_select {
    display: flex;
}

.menu_drop_down_select div {
    width: 30px;
}


/* all song section */

#list_all_songs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.one_song {
    width: 25%;
    height: 300px;
    position: relative;
}

img {
    background: aqua;
    width: 170px;
    height: 170px;
}

.text {
    width: 85%;
}

a {
    font-size: 17px;
    color: seagreen;
    position: absolute;
    bottom: 5px;
    left: 16%;
}

a:hover {
    color: red;
}