/* a{
    display: inline-block;
    width: 100px;
    height: 100px;
    background:wheat;
   
    color:green;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    font-family: "Lucida Console", Courier, monospace;
  } */